.search-snippet-info dt {
  background-color: #eee;
  padding: 0 3px;
}

.results-container {
  display: flex;
  width: 100% !important;
}

.results-column {
  padding: 5px 10px 5px 10px !important;
}

.results-column-fluid {
  flex-grow: 1;
}

.results-column-fixed {
  width: 70%;
}
